1. Apply feature selection methods (e.g., correlation analysis, LASSO, recursive feature elimination) to reduce irrelevant or redundant features.
2. Handle missing values, outliers, and data normalization/standardization.
3. Generate new features through transformations, interactions, or domain-specific insights.
4. Build and train a baseline machine learning model without any advanced tuning or feature engineering.
5. Optimize model hyperparameters using grid search, random search, or other optimization techniques.
6. Build advanced models using ensemble techniques (e.g., Random Forest, Gradient Boosting) or deep learning if applicable.
7. Evaluate the final model using appropriate metrics (e.g., accuracy, precision, recall, F1-score, ROC-AUC) and test set performance.
8. Apply cross-validation, hold-out validation, or bootstrapping to test model robustness and prevent overfitting.
9. Prepare a comprehensive report or presentation summarizing the project’s approach, model performance, and results.

In [120]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler
df = pd.read_csv("data_housing.csv", header = 0)
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [122]:
# Check for missing values in total 
print(df.isnull().sum())

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [124]:
#One hot encoding to change yes and no to 0 and 1
ohed = pd.get_dummies(df, columns = ['mainroad', 
                                                     'guestroom', 
                                                     'basement', 
                                                     'hotwaterheating', 
                                                     'airconditioning', 
                                                     'prefarea', 
                                                     'furnishingstatus'], dtype=int)
ohed

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,0,1,1,0,...,0,1,0,0,1,0,1,1,0,0
1,12250000,8960,4,4,4,3,0,1,1,0,...,0,1,0,0,1,1,0,1,0,0
2,12250000,9960,3,2,2,2,0,1,1,0,...,1,1,0,1,0,0,1,0,1,0
3,12215000,7500,4,2,2,3,0,1,1,0,...,1,1,0,0,1,0,1,1,0,0
4,11410000,7420,4,1,2,2,0,1,0,1,...,1,1,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,2,0,1,1,0,...,1,1,0,1,0,1,0,0,0,1
541,1767150,2400,3,1,1,0,1,0,1,0,...,0,1,0,1,0,1,0,0,1,0
542,1750000,3620,2,1,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,0,1
543,1750000,2910,3,1,1,0,1,0,1,0,...,0,1,0,1,0,1,0,1,0,0
544,1750000,3850,3,1,2,0,0,1,1,0,...,0,1,0,1,0,1,0,0,0,1

In [126]:
#outliers using Z score
def detech_outliers(ohed, threshold =3):

    ohed = np.array(ohed, dtype=np.float64)
    mean=np.mean(ohed)
    std=np.std(ohed)

    
    z_scores=(ohed-mean)/std
    outliers = ohed[np.abs(z_scores) > threshold]    
    return outliers

In [128]:
outliers_pt=detech_outliers(ohed)

In [130]:
outliers_pt

array([13300000., 12250000., 12250000., 12215000., 11410000., 10850000.,
       10150000., 10150000.,  9870000.,  9800000.,  9800000.,  9681000.,
        9310000.,  9240000.,  9240000.,  9100000.,  9100000.,  8960000.,
        8890000.,  8855000.,  8750000.,  8680000.,  8645000.,  8645000.,
        8575000.,  8540000.,  8463000.,  8400000.,  8400000.,  8400000.,
        8400000.,  8400000.,  8295000.,  8190000.,  8120000.,  8080940.,
        8043000.,  7980000.,  7962500.,  7910000.,  7875000.,  7840000.,
        7700000.,  7700000.,  7560000.,  7560000.,  7525000.,  7490000.,
        7455000.,  7420000.,  7420000.,  7420000.,  7350000.,  7350000.,
        7350000.,  7350000.,  7343000.,  7245000.,  7210000.,  7210000.,
        7140000.,  7070000.,  7070000.,  7035000.,  7000000.,  6930000.,
        6930000.,  6895000.,  6860000.,  6790000.,  6790000.,  6755000.,
        6720000.,  6685000.,  6650000.,  6650000.,  6650000.,  6650000.,
        6650000.,  6650000.,  6629000.,  6615000.,  6615000.,  6580000.,
        6510000.,  6510000.,  6510000.,  6475000.,  6475000.,  6440000.,
        6440000.,  6419000.,  6405000.,  6300000.,  6300000.,  6300000.,
        6300000.,  6300000.,  6293000.,  6265000.,  6230000.,  6230000.,
        6195000.,  6195000.,  6195000.,  6160000.,  6160000.,  6125000.,
        6107500.,  6090000.,  6090000.,  6090000.,  6083000.,  6083000.,
        6020000.,  6020000.,  6020000.,  5950000.,  5950000.,  5950000.,
        5950000.,  5950000.,  5950000.,  5950000.,  5950000.,  5943000.,
        5880000.,  5880000.,  5873000.,  5873000.,  5866000.,  5810000.,
        5810000.,  5810000.,  5803000.,  5775000.,  5740000.,  5740000.,
        5740000.,  5740000.,  5740000.,  5652500.,  5600000.,  5600000.,
        5600000.,  5600000.,  5600000.,  5600000.,  5600000.,  5600000.,
        5600000.,  5565000.,  5565000.,  5530000.,  5530000.,  5530000.,
        5523000.,  5495000.,  5495000.,  5460000.,  5460000.,  5460000.,
        5460000.,  5425000.,  5390000.,  5383000.,  5320000.,  5285000.,
        5250000.,  5250000.,  5250000.,  5250000.,  5250000.,  5250000.,
        5250000.,  5250000.,  5250000.,  5243000.,  5229000.,  5215000.,
        5215000.,  5215000.,  5145000.,  5145000.,  5110000.,  5110000.,
        5110000.,  5110000.,  5075000.,  5040000.,  5040000.,  5040000.,
        5040000.,  5033000.,  5005000.,  4970000.,  4970000.,  4956000.,
        4935000.,  4907000.,  4900000.,  4900000.,  4900000.,  4900000.,
        4900000.,  4900000.,  4900000.,  4900000.,  4900000.,  4900000.,
        4900000.,  4900000.,  4893000.,  4893000.,  4865000.,  4830000.,
        4830000.,  4830000.,  4830000.,  4795000.,  4795000.,  4767000.,
        4760000.,  4760000.,  4760000.,  4753000.,  4690000.,  4690000.,
        4690000.,  4690000.,  4690000.,  4690000.,  4655000.,  4620000.,
        4620000.,  4620000.,  4620000.,  4620000.,  4613000.,  4585000.,
        4585000.,  4550000.,  4550000.,  4550000.,  4550000.,  4550000.,
        4550000.,  4550000.,  4543000.,  4543000.,  4515000.,  4515000.,
        4515000.,  4515000.,  4480000.,  4480000.,  4480000.,  4480000.,
        4480000.,  4473000.,  4473000.,  4473000.,  4445000.,  4410000.,
        4410000.,  4403000.,  4403000.,  4403000.,  4382000.,  4375000.,
        4340000.,  4340000.,  4340000.,  4340000.,  4340000.,  4319000.,
        4305000.,  4305000.,  4277000.,  4270000.,  4270000.,  4270000.,
        4270000.,  4270000.,  4270000.,  4235000.,  4235000.,  4200000.,
        4200000.,  4200000.,  4200000.,  4200000.,  4200000.,  4200000.,
        4200000.,  4200000.,  4200000.,  4200000.,  4200000.,  4200000.,
        4200000.,  4200000.,  4200000.,  4200000.,  4193000.,  4193000.,
        4165000.,  4165000.,  4165000.,  4130000.,  4130000.,  4123000.,
        4098500.,  4095000.,  4095000.,  4095000.,  4060000.,  4060000.,
        4060000.,  4060000.,  4060000.,  4025000.,  4025000.,  4025000.,
        4007500.,  4007500.,  3990000.,  3990000.,  3990000.,  3990000.,
        3990000.,  3920000.,  3920000.,  3920000.,  3920000.,  3920000.,
        3920000.,  3920000.,  3885000.,  3885000.,  3850000.,  3850000.,
        3850000.,  3850000.,  3850000.,  3850000.,  3850000.,  3836000.,
        3815000.,  3780000.,  3780000.,  3780000.,  3780000.,  3780000.,
        3780000.,  3773000.,  3773000.,  3773000.,  3745000.,  3710000.,
        3710000.,  3710000.,  3710000.,  3710000.,  3703000.,  3703000.,
        3675000.,  3675000.,  3675000.,  3675000.,  3640000.,  3640000.,
        3640000.,  3640000.,  3640000.,  3640000.,  3640000.,  3640000.,
        3640000.,  3633000.,  3605000.,  3605000.,  3570000.,  3570000.,
        3570000.,  3570000.,  3535000.])

In [132]:
# Data Normalization/Standardization
scaler = StandardScaler()
numerical_features = ohed.select_dtypes(include=[np.number]).columns
ohed[numerical_features] = scaler.fit_transform(ohed[numerical_features])

In [136]:
#LASSO
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split

X = ohed.drop('price', axis=1)  #drop price column only 
y = ohed['price']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# LASSO regression for feature selection
lasso = Lasso(alpha=0.01)  
lasso.fit(X_train, y_train)

# Get feature importances
importance = np.abs(lasso.coef_)
selected_features = X.columns[importance > 0]
print("Selected features:", selected_features)

Selected features: Index(['area', 'bedrooms', 'bathrooms', 'stories', 'parking', 'mainroad_no',
       'guestroom_no', 'guestroom_yes', 'basement_no', 'basement_yes',
       'hotwaterheating_no', 'airconditioning_no', 'airconditioning_yes',
       'prefarea_no', 'furnishingstatus_furnished',
       'furnishingstatus_unfurnished'],
      dtype='object')

In [140]:
#generate new features
# Example: Creating interaction features
ohed['new_feature'] = ohed['area'] * ohed['bedrooms']  # Replace with actual feature names

In [175]:
#Build and Train Baseline Model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Train a baseline regression model
baseline_model = RandomForestRegressor(random_state=42)
baseline_model.fit(X_train, y_train)

# Predictions
y_pred = baseline_model.predict(X_test)

# Evaluation for regression
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2_score(y_test, y_pred))

Mean Squared Error: 0.5594530008767982
R-squared: 0.6134825078786066

In [177]:
#Optimize Model Hyperparameters
# Convert continuous target to binary (0 or 1) based on a threshold
threshold = y_train.median()  # or another meaningful threshold
y_train_classified = (y_train > threshold).astype(int)
y_test_classified = (y_test > threshold).astype(int)

# Run GridSearchCV for classification
grid_search = GridSearchCV(RandomForestClassifier(random_state=42), param_grid, cv=5)
grid_search.fit(X_train, y_train_classified)

print("Best parameters found: ", grid_search.best_params_)

Best parameters found:  {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 200}

In [178]:
#Advance and Evaluate the Final Model
from sklearn.ensemble import GradientBoostingRegressor

# Initialize and train the Gradient Boosting Regressor model
gb_model = GradientBoostingRegressor(random_state=42)
gb_model.fit(X_train, y_train)  # Fit the model to training data

# Predictions
y_pred = gb_model.predict(X_test)

# Evaluation metrics for regression
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 0.4851329659685031
Mean Absolute Error: 0.5182822779335606
R-squared: 0.6648290793727412

In [179]:
#Cross-Validation
from sklearn.model_selection import cross_val_score

# Use GradientBoostingRegressor if the target is continuous
cv_scores = cross_val_score(gb_model, X, y, cv=5)
print("Cross-Validation Scores:", cv_scores)
print("Mean CV Score:", np.mean(cv_scores))

Cross-Validation Scores: [ -2.58911061  -8.53157435 -18.19228503 -18.46563789  -8.79704224]
Mean CV Score: -11.31513002413356